.container {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
.login{
  display: flex;
  width: 10vh;
  margin: 10px;
  margin-right: 10%;
}
.item {
  width: 10vh;
  margin: 10px;
}

