@font-face {
  font-family: "Proxima Nova";
  src: url(./assets/fonts/ProximaNova-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: row;
  background: #E5E5E5;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  height: 100%;
  background: white;
  margin-left: 2%;
  margin-right: 2%;
}
body {
  margin: 0;
  font-family: "Proxima Nova";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
